@mixin border {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    inset: -4px;
    border-style: solid;
    border-width: var(--border-width);
    border-image-slice: 13;
    border-image-source: url(../img/border.png);
    border-image-width: var(--border-width);
    pointer-events: none;
  }
}
