@import "./mixins.scss";

.puzzle-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.puzzle-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  z-index: 1;
}

body.puzzle .puzzle-wrapper {
  display: flex;
}

.field {
  position: relative;
  width: calc(4 * var(--item-size));
  height: calc(4 * var(--item-size));
  z-index: 2;
}

.field .item {
  position: absolute;
  width: var(--item-size);
  height: var(--item-size);
  cursor: pointer;

  top: 0;
  left: 0;

  transform: translateX(calc(var(--x-position) * var(--item-size)))
    translateY(calc(var(--y-position) * var(--item-size)));

  transition: transform 250ms;

  &[data-value="null"] {
    opacity: 0;
  }
}

.field .item-container {
  @include border;
  position: absolute;
  left: 7px;
  top: 7px;
  right: 7px;
  bottom: 7px;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.field.blocked {
  pointer-events: none;
  opacity: 0.75;
}
