body {
  background: black;
  color: var(--color);
  overflow: hidden;
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  max-width: var(--scene-width);
  margin: auto;
  background: black;
  overflow: hidden;
}

.scene-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: -60px;
  bottom: 0;

  background-image: url(../img/bg/bg.png), url(../img/bg/bg.gif);
  background-position: 55% 100%;
  background-repeat: no-repeat;
  background-size: calc(60px + var(--scene-width)) auto;

  filter: blur(1px);
}

body[data-loading] {
  opacity: 0.5;
  pointer-events: none;
}